version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: contextual-search-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: searchdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: contextual-search-redis
    ports:
      - "6379:6379"

  qdrant:
    image: qdrant/qdrant
    container_name: contextual-search-qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  postgres_data:
  qdrant_data:
